@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.u-built-with-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.u-built-with-images img {
  max-width: 350px;
}

#footer {
  display: flex;
  justify-content: space-around;
  background-color: #020423;
  color: white;
}
#footer > div {
  text-align: center;
}
.u-social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.u-social-links a {
  padding: 10px;
}

.u-social-links img {
  max-width: 50px;
}

.u-terms-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.u-terms-links a {
  margin-bottom: 8px;
}

.u-terms-page h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: revert;
  margin: 16px 0px;
}
.u-terms-page p {
  margin: 16px 0px;
}
.u-terms-page ol {
  list-style: decimal;
}
.u-terms-page ul {
  list-style: circle;
}

/*  */

section.faq-title {
  border: none !important;
}
section.faq-title h2 {
  color: #020423;
  font-family: "Jost", sans-serif;
  font-size: 40px;
}

section.faq-row {
  /* border: none !important; */
  /* margin: 20px; */
  padding: 20px 0px !important;
  color: red !important;
  font-size: 50px !important;
}
.icon-wrapper {
  font-size: 35px;
  margin-top: 20px !important;
  width: 40px;
  /* margin:  20px 0px  !important; */
}
.icon-wrapper > .arrow-image {
  font-size: 35px;
  width: 40px;
  color: green !important;
  /* margin:  20px 0px  !important; */
}
.row-title-text {
  color: #0a0f3f;
  font-family: "Inter", sans-serif;
  font-size: 26px;
}
.row-content-text {
  color: #0a0f3f !important;
  font-size: 22px !important;
}

/*  */
/* Small screens (up to 640px) */
@media (max-width: 639px) {
  body {
    /* background-color: yellow; */
  }
  section.faq-title h2 {
    font-size: 27px !important;
  }
  .row-title-text {
    font-size: 16px !important;
    font-weight: 500;
  }
  .row-content-text {
    font-size: 16px !important;
  }
}

/* Medium screens (between 641px and 768px) */
@media (min-width: 640px) and (max-width: 767px) {
}

/* Large screens (between 769px and 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Extra-large screens (between 1025px and 1280px) */
@media (min-width: 1024px) and (max-width: 1279px) {
}

/* 2 Extra-large screens (between 1281px and 1536px) */
@media (min-width: 1280px) and (max-width: 1535px) {
}
